[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/blaketasim
[access "refs/for/refs/*"]
	read = group user/blaketasim
	push = group user/blaketasim
	label-Code-Review = -2..+2 group user/blaketasim
	label-Verified = -1..+1 group user/blaketasim
	rebase = group user/blaketasim
	removeReviewer = group user/blaketasim
	submit = group user/blaketasim
[access "refs/heads/*"]
	read = group user/blaketasim
	create = group user/blaketasim
	push = +force group user/blaketasim
	pushMerge = group user/blaketasim
[access "refs/tags/*"]
	push = group user/blaketasim
	push = +force group user/blaketasim
